{{#emptyResourceCheck}}
<article class="endpoint">
  <h3 class="endpoint__header">
    <span class="clickable endpoint__path">
      <span class="endpoint__parent">{{parentUrl}}</span>{{relativeUri}}
    </span>

    <span class="segmented">
      {{#methods}}
      <small class="clickable method--{{method}}"><em>{{method}}{{lock securedBy}}</em></small>
      {{/methods}}
    </span>
  </h3>

  {{#methods}}
  <section class="method__detail--{{method}} hide">
    <h4 class="method--{{method}}">
      <span class="endpoint__path">{{../parentUrl}}{{../relativeUri}}</span>
      <strong><em>{{method}}{{lock securedBy}}</em></strong>
    </h4>

    <div class="indented">
    {{> description}}
    </div>

    {{#if request}}
    <h5>Request</h5>
    {{/if}}
    {{> request}}

    {{#if responses}}
    <h5>Response</h5>
    {{/if}}
    {{> response}}
  </section>
  {{/methods}}
</article>
{{/emptyResourceCheck}}

{{#resources}}
  {{> resource}}
{{/resources}}
