<article class="indented">
  {{#each responses}}
  <h2>HTTP status code <a href="http://httpstatus.es/{{@key}}" target="_blank">{{@key}}</a></h2>

  {{> description}}

  {{#if this.headers}}
  <h3>Headers</h3>

  <ul>
    {{#each this.headers}}
    {{> item}}
    {{/each}}
  </ul>
  {{/if}}

  {{#if this.body}}
  <h3>Body</h3>
  {{/if}}

  {{#each this.body}}
  <p><strong>Type:</strong> {{@key}}</p>

  {{#if this.schema}}
  <p><strong>Schema</strong>:</p>
  <pre><code>{{this.schema}}</code></pre>
  {{/if}}

  {{#if this.example}}
  <p><strong>Example</strong>:</p>
  <pre><code>{{this.example}}</code></pre>
  {{/if}}
  {{/each}}
  {{/each}}
</article>
