<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}} API documentation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="generator" content="https://github.com/kevinrenskers/raml2html {{config.raml2HtmlVersion}}">

    <link href="{{config.protocol}}//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{config.protocol}}//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">

    <script type="text/javascript" src="{{config.protocol}}//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{config.protocol}}//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>

    <script type="text/javascript">
    (function () {
      var _detail   = '.method__detail--',
          _endpoint = '.endpoint',
          _header   = '.endpoint__header',
          _path     = '.endpoint__path';

      function collect(acc, node) {
        var detail,
            fn = acc.all || function () {},
            method;

        method = methodText(node);

        if (!acc[method]) {
          node = $(node);

          detail = node
            .closest(_endpoint)
            .find(_detail + method);

          acc[method] = function () {
            detail
              .toggleClass('hide');

            node
              .toggleClass('open');
          };

          acc.all = function () {
            fn();
            acc[method]();
          };
        }

        return acc;
      }

      function detailToggle() {
        var endpoint,
            methods,
            self = $(this);

        endpoint = self
          .closest(_endpoint);

        methods = endpoint
          .data('methods');

        if (!endpoint.data('hljs')) {
          endpoint
            .data('hljs', true)
            .find('pre code')
            .each(highlight);
        }

        if (!methods) {
          methods = endpoint
            .find(_header + ' .clickable')
            .not(_path)
            .toArray()
            .reduce(collect, {});

          endpoint
            .data('methods', methods);
        }

        if (self.hasClass(_path.slice(1))) {
          // toggle all
          methods.all();
        } else {
          //toggle only the one
          methods[methodText(this)]();
        }
      }

      function highlight(_, block) {
        hljs.highlightBlock(block);
      }

      function methodText(element) {

        return element
          .innerText
          .replace(/^\s+|\s+$/, '')
          .toLowerCase();
      }

      $(document)
        .on('click', '.endpoint__header .clickable', detailToggle);
    }());
    </script>

    <style>
      a:hover {text-decoration: none;}

      body {
        color: #444;
        font-family: Verdana, Arial, sans-serif;
        margin: 0 auto 80%;
        padding: 1em;
        width: 60em;
      }

      em {
        text-transform: uppercase;
      }

      h1 {
        font-size: 3.0em;
        line-height: 1em;
      }
      h2 { font-size: 1.5em; }
      h3 { font-size: 1.3em; }
      h4 { font-size: 1.2em; }
      h5 { font-size: 1.1em; }
      h6 { font-size: 1.0em; }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 100;
      }

      h1 a,
      h2 a,
      h3 a,
      h4 a,
      h5 a,
      h6 a {
        color: navy;
        text-decoration: none;
      }

      h1 a:hover,
      h2 a:hover,
      h3 a:hover,
      h4 a:hover,
      h5 a:hover,
      h6 a:hover {
        text-decoration: underline;
      }

      header {
        display: flex;
      }

      header .title {
        flex-grow: 1;
        margin: 1em 0 0;
      }

      header .version {
        align-self: flex-end;
        font-variant: small-caps;
      }

      .clickable {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      .description {
        max-width: 70ex;
      }

      .endpoint {
        /*simple clearfix*/
        overflow: auto;
        zoom: 1;
      }

      .endpoint + .endpoint {
        margin-top: 1ex;
      }

      .endpoint__header {
        background: #F0F0F0;
        border-bottom: 1px solid gray;
        display: flex;
        margin: 0ex;
        padding: 1ex;
      }

      .endpoint__header small {
        font-size: .6em;
      }

      .endpoint__parent {
        color: gray;
      }

      .endpoint__path {
        align-self: flex-start;
        flex-grow: 1;
      }

      .hide {
        display: none;
      }

      .indented {
        margin-left: 6em;
      }

      [class*="method--"] {
        border-bottom: 1ex solid;
        color: white;
        display: flex;
        padding: 1ex 1ex 0;
      }

      .method--delete  { background: #d14956; border-color: #d14956; }
      .method--get     { background: #0b88b9; border-color: #0b88b9; }
      .method--head    { background: #8a45a2; border-color: #8a45a2; }
      .method--options { background: #1ebd77; border-color: #1ebd77; }
      .method--patch   { background: #02b0e2; border-color: #02b0e2; }
      .method--post    { background: #1ea18d; border-color: #1ea18d; }
      .method--put     { background: #4472d9; border-color: #4472d9; }

      [class*="method--"].open {
        background: transparent;
        color: gray;
      }

      .resource {
        overflow: auto;
        zoom: 1;
      }

      .segmented {
        display: flex;
      }
    </style>
</head>

<body>
  <header>
    <h1 class="title">
      {{title}}
      <div><small>API documentation</small></div>
    </h1>

    {{#if version}}
    <span class="version">version {{version}}</span>
    {{/if}}
  </header>

  <p>{{baseUri}}</p>

  {{#documentation}}
  <h3>{{title}}</h3>
  {{md content}}
  {{/documentation}}

  {{#resources}}
  <section class="resource">
    <h2 class="resource__title">{{#if displayName}}{{displayName}}{{/if}}{{#unless displayName}}{{relativeUri}}{{/unless}}</h2>
    {{> description}}

    {{> resource}}
  </section>
  {{/resources}}
</body>
</html>
